<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389944895146-6k3dp50crq3bbvlh7mjlkdm7mk4pocl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389944895146-6k3dp50crq3bbvlh7mjlkdm7mk4pocl2</string>
	<key>API_KEY</key>
	<string>AIzaSyDPNmdtm8LQfI8UIZnK1qOIPvX29qelX4A</string>
	<key>GCM_SENDER_ID</key>
	<string>389944895146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shift.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>shift-b3cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>shift-b3cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389944895146:ios:56256399d037a1e6ee92d3</string>
</dict>
</plist>